@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #b6d2ff
}

button:focus,
a.btn:focus,
.btn:focus {
  outline: none;
  border: 0;
  box-shadow: none;
}

input.form-control:focus {
  box-shadow: none;
}


.loginOuterBoxTop{
    max-width: 800px;
}
h1.h3.mb-3.asvabHeading {
    font-size: 50px;
    font-weight: 800;
}
.formBoxTextBtn {
    font-size: 25px;
}
span.btnText {
    font-weight: 700;
    color: #fae464;
}

.responseContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responseContainer .loginOuterBox {
    background: linear-gradient(26deg,#0c64b1,#399aef);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  /* text-align: center; */
}
.LGin {
    font-weight: 700;
    margin: 20px 0px;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-width: 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}
.form-signin .form-control::placeholder {
  color: #b0b0b0;
  /* opacity: 1; */
}
.btnGroup {
  display: grid;
  gap: 10px;
}
.formBoxs {
  display: grid;
  gap: 25px;
  margin-bottom: 25px;
}
button.btn.btn-outline-light.btn-lg.btn-block.form-group-3 {
  height: 45px;
  font-size: 20px;
}
.logoImg {
  width: 100%;
  margin-bottom: 20px;
}

.responseHeading {
    font-size: 2rem;
}

#resetPasswordBtn {
    color: #000;
    font-weight: 700; 
    font-size: 1.2rem;
}